.list_container {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.594);
    height: fit-content;
    width: 300px;
    color: black;
    padding: 10px;
    margin: 50px 30px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.list_container:hover {
    background-color: rgba(255, 255, 255, 0.842);
    transition: .2s ease-in-out;
}

.list_value {
    /* border: 1px solid darkblue; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    padding: 5px 10px;

}

.list_more {
    /* border: 1px solid darkblue; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.render_update_container {
    /* border: 1px solid firebrick; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_update_data {
    border: none;
    width: 70%;
    height: 4.5vh;
    padding: 10px 10px;
    border-radius: 4px;
}

.button_update {
    height: 4vh;
    border: none;
    padding: 3px 10px;
    font-weight: bold;
    background-color: darkblue;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 4px;
}

.button_update:hover{
    background-color: royalblue;
    color: white;
}