.wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.card{
    list-style: none;
}

.deleteListItem{
    cursor: pointer;
}
.cardss{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.listButton{
    height: 3rem;
    width: 17rem;
    color: white;
    background-color: lightgray;
    text-align: left;
    padding: 0.5rem 1rem;
    font-size: medium;
    border: none;
    border-radius: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.listButton:hover{
    cursor: pointer;
}

.inputContainer{
    width: 17rem;
    background-color: lightgrey;
    text-align: left;
    padding: 0.5rem ;
    border: none;
    border-radius: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input{
    border: 0.15rem solid rgb(17, 130, 236);
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;
    width: 90%;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input:focus{
    border: 0.15rem solid rgb(17, 130, 236);
}

.buttonContainer{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.button{
    background-color:  rgb(0, 118, 228) ;
    color: white;
    font-size: medium;
    padding: 0.4rem 0.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 0.2rem;
}

.button:hover{
    cursor: pointer;
}

.close{
    font-size: 1.7rem;
    color: rgb(75, 73, 73);
}

.close{
    cursor: pointer;
}

.mapContainer{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 16rem;
    border-radius: 1rem;
    padding: 1rem;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
    padding-left: 0.7rem;
}

.title:hover{
    cursor: pointer;
}

.more{
    border-radius: 0.3rem;
    padding: 0.3rem 0.4rem;
}

.more:hover{
    background-color: rgb(236, 213, 217);
}

.cardButton{
    border: none;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: transparent;
    color: rgb(89, 87, 87);
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.cardButton:hover{
    cursor: pointer;
    background-color:gray;
}

.addIcon{
    font-size: 1.4rem;
}

.inputCard{
    border: 0.15rem solid rgb(17, 130, 236);
    background-color: lightgray;
    border-radius: 0.3rem;
    padding: 0.6rem 0.6rem 2rem 0.6rem;
    width: 90%;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card{
    background-color: lightgray;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.6rem grey;
    margin: 0.5rem 0;
}