.main_upper_bar_container {
    /* border: 5px solid salmon; */
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
}

.sub_upper_bar_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 11px;
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
}

.input_nav {
    height: 2.5rem;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    border-radius: 3px;
    transition: .2s ease-in-out;
}

.input_nav::placeholder {
    opacity: .8;
    color: rgb(255, 255, 255);
}

.input_nav:hover {
    transition: .2s ease-in-out;
    border: 1px solid gainsboro;

}

.work_shop_nav {
    cursor: pointer;
    gap: 5px;
    display: flex;
    border-radius: 5px;
    border: transparent;
    color: whitesmoke;
    padding: 6px 15px;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.work_shop_nav:hover {
    transition: .2s ease-in-out;
    background-color: rgba(247, 251, 255, 0.3);
}

/* ................................ */

.board_nav_part {
    cursor: pointer;
    gap: 5px;
    display: flex;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 6px 15px;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.board_nav_part:hover {
    transition: .2s ease-in-out;
    background-color: rgb(215, 215, 215);
    color: black;
}

/* ..................................... */


.second_part_nav_bar {
    position: relative;
    left: 15%;
    gap: 12px;
    display: flex;
}

.power_ups {
    cursor: pointer;
    gap: 5px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    color: white;
    border: transparent;
    padding: 6px 15px;
    font-weight: bold;
    background-color: transparent;
    transition: .2s ease-in-out;
}

.power_ups:hover {
    transition: .2s ease-in-out;
    background-color: rgba(247, 251, 255, 0.3);
}

/* .......................................... */

.automation_part {
    cursor: pointer;
    gap: 5px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    color: white;
    border: transparent;
    padding: 6px 15px;
    font-weight: bold;
    background-color: transparent;
    transition: .2s ease-in-out;
}

.automation_part:hover {
    transition: .2s ease-in-out;
    background-color: rgba(247, 251, 255, 0.3);
}

.filter_part {
    cursor: pointer;
    gap: 5px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    color: white;
    border: transparent;
    padding: 6px 15px;
    font-weight: bold;
    background-color: transparent;
    transition: .2s ease-in-out;
}

.filter_part:hover {
    transition: .2s ease-in-out;
    background-color: rgba(247, 251, 255, 0.3);
}

.share_options {
    cursor: pointer;
    gap: 5px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: transparent;
    padding: 6px 15px;
    font-weight: bold;
    background-color: rgb(215, 215, 215);
    transition: .2s ease-in-out;
}

.share_options:hover {
    transition: .2s ease-in-out;
    background-color: rgb(255, 255, 255);
}

.side_options {
    cursor: pointer;
    gap: 5px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: transparent;
    padding: 6px 15px;
    font-weight: bold;
    background-color: transparent;
    transition: .2s ease-in-out;
}

.side_options:hover {
    transition: .2s ease-in-out;
    background-color: rgb(255, 137, 137);
}

/* .......................... */


.input_todo_data {
    border: transparent;
    padding: 10px 10px;
    width: 100%;
    height: 5vh;
    display: flex;
    margin: auto;
    margin-top: 30px;
    font-size: 15px;
    border-radius: 3px;
}

.input_todo_data::placeholder {
    font-weight: bold;
    font-size: 14px;
}

.add_data_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 22px;
    border: none;
    background-color: rgb(255, 190, 147);
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.add_data_button:hover {
    background-color: rgb(38, 64, 113);
    color: rgb(255, 255, 255);
    transition: .2s ease-in-out;
}

.todo_list_map {
    /* border: 1px solid red; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 5px 1px;
    display: flex;
    padding: 10px;
    font-weight: bold;
    color: black;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 22px;
    border-radius: 3px;
    cursor: pointer;
}

.todo_list_map button {
    background-color: rgba(47, 57, 108, 0.847);
    border: none;
    color: rgb(255, 255, 255);
    padding: 6px 15px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.todo_list_map button:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    transition: .2s ease-in-out;
}

